#sentenceContainer {
    height: 100vh;
    position: relative }

.sentence{
	z-index: 4;
	color: black;
	font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: black;
}

#sentence1{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}