html {
	background-color: ;
}

#square{
	z-index: 1;

	position: fixed;
	right: 0px;
	bottom: 0px;

	width: 100px;
	height: 100px;
	
	background: transparent;
}

#circle {
	z-index: 2;
	
	position: fixed;
	right: 0px;
	bottom: 0px;


	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
/* Cleaner, but slightly less support: use "50%" as value */
	background: transparent;
}



#triangle {
	z-index: 3;
	
	position: fixed;
	right: 0px;
	bottom: 0px;

	width: 0;
	height: 0;

	border-left-style: solid;
	border-left-color: transparent;
	border-left-width: 0vh;

	border-right-style: solid;
	border-right-color: transparent;
	border-right-width: 0vh;

	border-bottom-style: solid;
	border-bottom-width: 0vh;
	border-bottom-color: transparent;
}


#sentenceContainer {
    height: 100vh;
    position: relative }

.sentence{
	z-index: 4;
	color: white;
	font-family: 'Overpass Mono', monospace;
    font-size: 2em;
    /*font-weight: bold;*/
}

#sentence1{
	margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#sentence2{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#sentence3{
	margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}